/* Classes */
.box {
    min-height: 50px;
    padding: 25px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  
  .active {
    background: teal;
  }
  
  .bg-gray {
    background: lightgray;
  }
  
  .bg-white {
    background: white;
  }
  
  .fg-white {
    color: white;
  }
  
  .bg-cyan {
    background: cyan;
  }
  
  .fg-green {
    color: green;
  }
  
  .fg-black {
    color: black;
  }
  
  .font-paragraph-text {
    font-size: 8pt;
  }
  
  .detail-text {
    font-weight: normal;
  }
  
  .green-border {
    border:1px solid teal;
  }